<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>RaySnake</title>

    <meta name="title" content="RaySnake">
    <meta name="description" content="yet another snake clone">
    <meta name="keywords" content="snake, raylib, game, html5, C, C99, WASM">
    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="RaySnake">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image" content="icon.png">
    <meta property="og:site_name" content="whou.codeberg.page">
    <meta property="og:url" content="https://whou.codeberg.page/raysnake">
    <meta property="og:description" content="yet another snake clone">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@whouishere">
    <meta name="twitter:title" content="RaySnake">
    <meta name="twitter:image" content="icon.png">
    <meta name="twitter:url" content="https://whou.codeberg.page/raysnake">
    <meta name="twitter:description" content="yet another snake clone">

    <link rel="shortcut icon" href="favicon.ico">

    <style>
      html {
        display: flex;
        justify-content: center;
      }

      canvas.emscripten {
        border: 5px solid;
        border-color: rgb(0, 228, 48);
        background-color: black;
      }
    </style>
  </head>

  <body>
    <main>
      <canvas class=emscripten id=canvas oncontextmenu=event.preventDefault() tabindex=-1></canvas>

      <p><a href="http://codeberg.org/whou/raysnake">Source code</a></p>
    </main>

    <script>
      var Module = {
        canvas: (function() {
          var canvas = document.getElementById('canvas');
          return canvas;
        })()
      };
    </script>
    {{{ SCRIPT }}}
  </body>
</html>
